body {
  background-image: url("./images/beautiful-paradise.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* background:
  background-attachment: fixed; */
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1rem;
  color: rgb(229, 229, 229);
}
@media (max-width: 2460px){
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .hero-card {
    width: 800px;
  }
}
@media (max-width: 960px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .hero-card {
    width: 600px;
  }
}

@media (max-width: 720px) {
  /* Pour un écran < 720px, cette classe CSS s'applique */
  .hero-card {
    width: 400px;
  }
}

@media (max-width: 540px) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  .hero-card {
    width: 280px;
  }
}
h1, h2, h3 {
  color: rgb(229, 229, 229);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.583);
}

h1 {
  font-size: 1.8rem;
  text-transform: uppercase;
  transform: scaleY(0.95);
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.3rem;
  letter-spacing: 0.5px;
}
a {
  text-decoration: none;
  color: rgb(229, 229, 229)
}
.hero-card {
  color: rgb(229, 229, 229);
	animation: blur_img 1s linear;
  text-align: center;
  margin-top: 30px;
  margin: 20px auto 0 auto;
  padding: 30px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow:  -9px -9px 13px 2px rgba(0,0,0,0.4),
              9px 9px 16px 0px rgba(0,0,0,0.4);
  /* box-shadow: -9px -9px 13px 2px #42bce461, 9px 9px 16px 0px #adc5d1c8; */
  backdrop-filter: blur(1px);
}
@keyframes blur_img {
	0%		{filter: blur(1.5rem);}
	100%	{filter: blur(0rem);}
}
.hero-card h1 span {
  -webkit-text-stroke: 1px white;
  color: transparent;
}
.hero-card img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  animation: blur_img 1s linear;
  animation-fill-mode: forwards;
}
.hero-card p {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.583);
}
.btn-result {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-size: 1.3rem;
  animation: blur_img 1s linear;
  animation-fill-mode: forwards;
  margin: 40px auto;
  border-radius: 3px;
  text-decoration: none;
  border: 2.5px solid rgb(229, 229, 229);
  width: 220px;
  height: 26px;
  padding: 7px 10px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.583);
}
.btn-result span {
  display: inline-block;
  transform: translateY(0px);
  transition: 1s ease;
}
.btn-result:hover span {
  display: inline-block;
  transform: translateY(-50px);
  transition: 1s ease;
}
.btn-result:hover {
  border: 2.5px solid #1095c1;
  transition: 1s ease;
}
.btn-result:hover::after {
  transform: translateY(-24px);
  transition: 1s ease-out;
}
.btn-result::after {
  content:"Amazing! Right?";
  color: #1095c1;
  text-align: center;
  transition: 1s ease;
  transform: translateY(24px)
}
.list-inline {
  animation: blur_img 1s linear;
  list-style: none;
  padding-left: 0px;
  text-align: center;
  margin: 10px auto;
  text-shadow: 0.3px 0.3px 0.3px rgba(133, 131, 131, 0.222);
}
.list-inline span {
  font-size: 1.5rem;
  color: #1095c1;
}
.list-inline li {
    display: inline-block;
    padding: 0px 24px;
}
.list-inline ul {
    display: inline-block;
    padding: 0px;
}
.list-inline a{
  color: #1095c1;
}
